version: "3"
services:
    db:
        image: mysql
        ports:
            - 3306:3306
        volumes:
            - "./.data/db:/var/lib/mysql"
        environment:
            MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
            MYSQL_DATABASE: ${MYSQL_DATABASE}
            MYSQL_USER: ${MYSQL_USER}
            MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    redis:
        image: redis:alpine
        ports:
            - 6379:6379
    php:
        build: php7-fpm
        ports:
            - 9000:9000
        links:
            - db:mysqldb
            - redis
            - xhgui
        volumes:
            - ./src:/var/www/html
            - ./logs/symfony:/var/www/symfony/app/logs
            - xhgui:/usr/local/src/xhgui
    nginx:
        build: nginx
        ports:
            - 80:80
        links:
            - php
        volumes:
            - ./logs/nginx/:/var/log/nginx
    elk:
        image: willdurand/elk
        ports:
            - 81:80
        volumes:
            - ./elk/logstash:/etc/logstash
            - ./elk /logstash/patterns:/opt/logstash/patterns

    phpmyadmin:
        image: phpmyadmin/phpmyadmin
        ports:
          - "8080:80"
        links:
          - db

    xhgui:
        image: inetprocess/xhgui
        volumes:
          - xhgui:/usr/local/src/xhgui
          - ./xhgui-config.php:/usr/local/src/xhgui/config/config.php

        ports:
          - "9090:80"
        expose:
          - 80


volumes:
   xhgui: